<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <!-- <link rel="stylesheet" href="css/main.css"> -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
          <header>
            <h1>Header here</h1>
          </header>

          <aside>
            <nav>
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </nav>
          </aside>

          <main>
            <div id="article-table-container">
            </div>

            <div id="article-show-container">
            </div>

            <div id="article-form-container">
            </div>
          </main>

          <footer>
            <p>Footer summary here</p>
          </footer>
        </div>

        <!-- templates -->

        <script type="text/template" id="article-form-template">
          <h1>New Article</h1>

          <div class="form-group">
            <label for="article-title">Title</label>
            <input id="article-title" name="article[title]" type="text" class="form-control" placeholder="Enter Title...">
            <p class="help-block">Please ensure the title is descriptive</p>
          </div>
          <div class="form-group">
            <label for="article-summary">Summary</label>
            <textarea id="article-summary" name="article[summary]" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </script>

        <script type="text/template" id="article-show-template">
         <h1><%- title %></h1>

         <p>
           <%- summary %>
         </p>
        </script>

        <script type="text/template" id="article-table-template">
          <thead>
           <tr>
             <th>Title</th>
             <th>Summary</th>
           </tr>
          </thead>
          <tbody>
           <tr>
           </tr>
          </tbody>
        </script>

        <script type="text/template" id="article-row-template">
          <td><%- title %></td>
          <td><%- summary %></td>
        </script>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/backbone.stickit/backbone.stickit.js"></script>
        <script src="js/models/articleModel.js"></script>
        <script src="js/collections/articleCollection.js"></script>
        <script src="js/views/articleShowView.js"></script>
        <script src="js/views/articleFormView.js"></script>
        <script>
          $(function() {
            var articleCollection = new ArticleCollection([
              { title: 'Some Title A', summary: 'Some Summary A' },
              { title: 'Some Title B', summary: 'Some Summary B' },
              { title: 'Some Title C', summary: 'Some Summary C' },
            ]);

            var articleModel = articleCollection.at(0);

            var articleShowView = new ArticleShowView({
              model: articleModel
            });

            var articleFormView = new ArticleFormView({
              model: articleModel
            });

            $('#article-form-container').append(articleFormView.render().$el);
            $('#article-show-container').append(articleShowView.render().$el);
          });
        </script>

    </body>
</html>
